@model XyTech.Models.tb_landlord

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Landlord</h4>
                <p class="card-description">
                    Add a new landlord by filling the form below.
                </p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="l_name" class="col-sm-3 col-form-label">Name</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.l_name, new { htmlAttributes = new { @class = "form-control", placeholder = "Landlord's name", required = "required" } })
                            @Html.ValidationMessageFor(model => model.l_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="l_contact" class="col-sm-3 col-form-label">Contact Number</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.l_phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Contact number of landlord", required = "required" } })
                            @Html.ValidationMessageFor(model => model.l_phone, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="l_fee" class="col-sm-3 col-form-label">Amount of rental (RM)</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.l_fee, new { htmlAttributes = new { @class = "form-control", placeholder = "Rental fee per month (RM)", required = "required" } })
                            @Html.ValidationMessageFor(model => model.l_fee, "", new { @class = "text-danger" })

                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.l_due, "Due Date", htmlAttributes: new { @class = "col-sm-3 col-form-label" })
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.l_due, new { htmlAttributes = new { @class = "form-control datepicker", autocomplete = "off", required = "required" } })
                            @Html.ValidationMessageFor(model => model.l_due, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="l_bankname" class="col-sm-3 col-form-label">Bank</label>
                        <div class="col-sm-9">
                            @Html.DropDownList("l_bankname", null, htmlAttributes: new { @class = "form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.l_bankname, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="l_bank" class="col-sm-3 col-form-label">Bank account number</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.l_bank, new { htmlAttributes = new { @class = "form-control", placeholder = "Bank account number", required = "required" } })
                            @Html.ValidationMessageFor(model => model.l_bank, "", new { @class = "text-danger" })

                        </div>
                    </div>

                    @Html.Hidden("l_active", "1")

                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
                </form>



            </div>
        </div>
    </div>
}

@section Scripts {

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#l_due').datepicker({
                dateFormat: "dd/MM/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
                minDate: "0D"
            });

        });
    </script>
}