@model XyTech.Models.tb_landlord

@{
    ViewBag.Title = "Delete";
}


<div align="center">
    <div align="left" class="col-lg-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Delete Landlord</h4>
                <p class="card-description">
                    Are you sure to delete this landlord?
                </p>
                <!--<hr />-->
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <tbody>
                            <tr>
                                <th class="col-3">
                                    Name
                                </th>

                                <td class="col-6">
                                    @Html.DisplayFor(model => model.l_name)
                                </td>
                            </tr>

                            <tr>
                                <th class="col-3">
                                    Contact Number
                                </th>

                                <td class="col-6">
                                    @Html.DisplayFor(model => model.l_phone)
                                </td>
                            </tr>

                            <tr>
                                <th class="col-3">
                                    Amount of Rental (RM)
                                </th>

                                <td class="col-6">
                                    @Html.DisplayFor(model => model.l_fee)
                                </td>
                            </tr>

                            <tr>
                                <th class="col-3">
                                    Rental Due (DD-MM-YYYY)
                                </th>

                                <td class="col-6">
                                    @Html.DisplayFor(model => model.l_due)
                                </td>
                            </tr>

                            <tr>
                                <th class="col-3">
                                    Bank
                                </th>

                                <td class="col-6">
                                    @Html.DisplayFor(model => model.tb_bankname.bn_description)
                                </td>
                            </tr>

                            <tr>
                                <th class="col-3">
                                    Bank Account Number
                                </th>

                                <td class="col-6">
                                    @Html.DisplayFor(model => model.l_bank)
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="margin-top: 25px;">
                <input type="submit" value="Delete" class="btn btn-danger btn-rounded btn-fw" onclick="return confirm('Are you sure to delete this landlord?');" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
            </div>
                }

            </div>
        </div>
    </div>
</div>
