@model XyTech.Models.tb_landlord

@{
    ViewBag.Title = "Details";
}
<!--
<h2>Details</h2>

<div>
    <h4>tb_landlord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.l_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.l_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.l_fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.l_due)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_due)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.l_bankname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_bankname)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.tb_bankname.bn_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.l_bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_bank)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.l_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.l_active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.l_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
-->
<div align="center">
    <div align="left" class="col-lg-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Table</h4>
                <p class="card-description">
                    Add class <code>.table-striped</code>
                </p>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th class="col-3">
                                    First name
                                </th>


                                <th class="col-6">
                                    Deadline
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td class="col-3">
                                    Herman Beck
                                </td>


                                <td class="col-6">
                                    May 15, 2015
                                </td>
                            </tr>
                            <tr>

                                <td class="col-3">
                                    Messsy Adam
                                </td>


                                <td class="col-6">
                                    July 1, 2015
                                </td>
                            </tr>
                            <tr>

                                <td class="col-3">
                                    John Richards
                                </td>


                                <td class="col-6">
                                    Apr 12, 2015
                                </td>
                            </tr>
                            <tr>

                                <td class="col-3">
                                    Peter Meggik
                                </td>


                                <td class="col-6">
                                    May 15, 2015
                                </td>
                            </tr>
                            <tr>

                                <td class="col-3">
                                    Edward
                                </td>


                                <td class="col-6">
                                    May 03, 2015
                                </td>
                            </tr>
                            <tr>

                                <td class="col-3">
                                    John Doe
                                </td>


                                <td class="col-6">
                                    April 05, 2015
                                </td>
                            </tr>
                            <tr>

                                <td class="col-3">
                                    Henry Tom
                                </td>


                                <td class="col-6">
                                    June 16, 2015
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 25px;">
                    <button type="button" class="btn btn-primary btn-rounded btn-fw">Edit</button>
                    <button type="button" class="btn btn-dark btn-rounded btn-fw">Back to List</button>
                </div>
            </div>
        </div>
    </div>
</div>