@model IEnumerable<XyTech.Models.tb_landlord>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-title mb-0" style="font-size: x-large;">Landlords</p>
                    
                    @Html.ActionLink("Add", "Create", "Landlord", null, new {@class= "btn btn-success btn-rounded btn-fw" })
                    
                </div>
                <!--<p class="card-title mb-0">Landlords</p>-->

                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact Number</th>
                                <th>Rental Fees</th>
                                <th>Rental Due</th>
                                <th>Bank</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.l_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.l_phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.l_fee)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.l_due)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tb_bankname.bn_description)
                                    </td>

                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.l_id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.l_id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.l_id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
