@model IEnumerable<XyTech.Models.tb_landlord>

@{
    ViewBag.Title = "Index";
}

<h2>Landlord</h2>

<hr />

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @if (ViewBag.Message == "Landlord is successfully saved!")
                {
                    <div class="alert alert-success">
                        <strong>@ViewBag.Message</strong>
                        <button type="button" class="close" data-dismiss="alert">
                            <span class="mdi mdi-eye-off"></span>
                        </button>
                    </div>
                }
                @if (ViewBag.Message == "Landlord is deleted.")
                {
                    <div class="alert alert-danger">
                        <strong>@ViewBag.Message</strong>
                        <button type="button" class="close" data-dismiss="alert">
                            <span class="mdi mdi-eye-off"></span>
                        </button>
                    </div>
                }
                <p>
                    @Html.ActionLink("Add", "Create", "Landlord", null, new { @class = "btn btn-success btn-rounded btn-fw" })
                </p>
                
                <!--<p class="card-title mb-0">Landlords</p>-->

                <div class="table-responsive">
                    <table id="dataTable" class="display expandable-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact Number</th>
                                <th>Rental Fees</th>
                                <th>Rental Due</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.l_name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.l_phone)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.l_fee)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.l_due)
                                    </td>


                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.l_id })" class="btn btn-link" title="edit">
                                            <i class="fa fa-edit text-primary"></i>
                                        </a>
                                        <a href="@Url.Action("Details", new { id = item.l_id })" class="btn btn-link" title="details">
                                            <i class="fa fa-info-circle text-info"></i>
                                        </a>
                                        <a href="@Url.Action("Delete", new { id = item.l_id })" class="btn btn-link" title="delete">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery('#dataTable').DataTable();
        });
    </script>
}
