@model XyTech.Models.tb_finance

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Finance</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.f_date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.f_date, new
               {
                   htmlAttributes = new
                   {
                       @class = "form-control",
                       @type = "date",
                       @required = true
                   }
               })
                @Html.ValidationMessageFor(model => model.f_date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.f_transactiontype, "Transaction Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("f_transactiontype", new List<SelectListItem>
                {
                    new SelectListItem { Text = "-- Transaction Type --", Selected = true, Disabled = true },
                    new SelectListItem { Text = "Inflow", Value = "Inflow" },
                    new SelectListItem { Text = "Outflow", Value = "Outflow" }
                }, new { @class = "form-control", @required = true })
                @Html.ValidationMessageFor(model => model.f_transactiontype, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.f_floor, "Transaction Floor", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("f_floor", null, new { @class = "form-control", @required = true })

                @Html.ValidationMessageFor(model => model.f_floor, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.Hidden("f_user")

        <div class="form-group">
            @Html.LabelFor(model => model.f_transaction, "Amount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.f_transaction, new { htmlAttributes = new { @class = "form-control", @type = "number", @stepwise = "0.01", @required = true } })
                @Html.ValidationMessageFor(model => model.f_transaction, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.f_desc, "Details", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.f_desc, new { htmlAttributes = new { @class = "form-control", @required = true } })
                @Html.ValidationMessageFor(model => model.f_desc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.f_paymentmethod, "Bank/Cash", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("f_paymentmethod", new List<SelectListItem>
                {
                    new SelectListItem { Text = "-- Payment Method --", Selected = true, Disabled = true },
                    new SelectListItem { Text = "Bank", Value = "Bank" },
                    new SelectListItem { Text = "Cash", Value = "Cash" }
                }, new { @class = "form-control", @required = true })
                @Html.ValidationMessageFor(model => model.f_paymentmethod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.f_receipt, "Receipt (if any)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.f_receipt, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.f_receipt, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    document.getElementById('f_date').valueAsDate = new Date;

    document.addEventListener("DOMContentLoaded", function () {
        var allOption = document.querySelector('#f_floor option[value="select"]');
        allOption.disabled = true;
    });
</script>
