@model XyTech.Models.tb_finance

@{
    ViewBag.Title = "Details";
}

<div align="center">
    <div align="left" class="col-lg-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Delete Finance</h4>
                <p class="card-description">
                    Details of transaction
                </p>
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <tbody>
                            <tr>
                                <th>
                                    Transaction ID
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.f_id)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Date
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.f_date)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Floor
                                </th>
                                <td>
                                    @if (Model.f_floor == null)
                                    {
                                        <span>General</span>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.f_floor)
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Transaction Type
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.f_transaction)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Transaction Amount
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.f_transaction)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Transaction Details
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.f_desc)
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Payment Method
                                </th>
                                <td>
                                    @Html.DisplayFor(model => model.f_paymentmethod)
                                </td>
                            </tr>
                            <tr>
                                @if (Model.f_receipt == null)
                                {
                                    <th>Receipt</th>
                                    <td>No Receipt for this transaction</td>
                                }
                                else
                                {
                                    <th>
                                        <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                                            <span class="menu-title">Receipt</span>
                                            <i class="mdi mdi-eye"></i>
                                        </a>
                                    </th>
                                    <td>
                                        <div class="collapse" id="form-elements">
                                            <img src="@Url.Content("~/Content/assets/images/Contractfile/" + Model.f_receipt)" alt="Uploaded Image" style="width: 400px;height: auto;border-radius: 0;" />
                                        </div>
                                        @Html.DisplayFor(model => model.f_receipt)
                                    </td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="margin-top: 25px;">
                    @using (Html.BeginForm("Delete", "Finance", new { id = Model.f_id }, FormMethod.Post, new { id = "deleteForm" }))
                    {
                        @Html.AntiForgeryToken()

                        <!-- Button to trigger the delete confirmation -->
                        <button type="button" class="btn btn-danger" id="deleteButton">Delete</button>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
                        <div id="confirmDeleteModal" style="display: none;">
                            <p>Are you sure you want to delete this user?</p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>











<script>
    // JavaScript code using SweetAlert
    document.addEventListener("DOMContentLoaded", function () {
        var deleteButton = document.getElementById('deleteButton');

        // Show the confirmation modal when deleteButton is clicked
        deleteButton.addEventListener('click', function () {
            swal({
                title: "Confirm Delete",
                text: "Are you sure you want to delete this user?",
                icon: "warning",
                buttons: ["Cancel", "Delete"],
                dangerMode: true,
            }).then((confirmed) => {
                if (confirmed) {
                    // Proceed with the deletion
                    var form = document.getElementById('deleteForm');
                    form.submit();
                }
            });
        });
    });

</script>
