@model XyTech.Models.tb_room

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm(Html.BeginForm("Edit", "Room", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Room Information</h4>
                <p class="card-description">
                    Edit floor information by filling the form below.
                </p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form class="forms-sample">

                @Html.Hidden("r_id")

                <div class="form-group row">
                    <label for="l_name" class="col-sm-3 col-form-label">Room No.</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.r_no, new { htmlAttributes = new { @class = "form-control", placeholder = "Room Number", required = "required" } })
                        @Html.ValidationMessageFor(model => model.r_no, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="l_contact" class="col-sm-3 col-form-label">Floor Name</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("r_floor", null, htmlAttributes: new { @class = "form-control", placeholder = "Select a building", required = "required", Selected = true })
                        @Html.ValidationMessageFor(model => model.r_floor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="l_name" class="col-sm-3 col-form-label">Access Card User ID</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.r_access_uid, new { htmlAttributes = new { @class = "form-control", placeholder = "Access card user ID" } })
                        @Html.ValidationMessageFor(model => model.r_access_uid, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="l_name" class="col-sm-3 col-form-label">Access Card Series Number</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.r_access_siri, new { htmlAttributes = new { @class = "form-control", placeholder = "Access card series number" } })
                        @Html.ValidationMessageFor(model => model.r_access_siri, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="l_name" class="col-sm-3 col-form-label">Price (RM)</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.r_price, new { htmlAttributes = new { @class = "form-control", placeholder = "Room Rental Price", required = "required" } })
                        @Html.ValidationMessageFor(model => model.r_price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="l_fee" class="col-sm-3 col-form-label">Number of Beds</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.r_size, new { htmlAttributes = new { @class = "form-control", placeholder = "Number of Beds", required = "required" } })
                        @Html.ValidationMessageFor(model => model.r_size, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group row">
                    <label for="l_due" class="col-sm-3 col-form-label">Room Availability</label>
                    <div class="col-sm-9">
                        @{
                            List<SelectListItem> availabilityOptions = new List<SelectListItem>
                                                                            {
                                new SelectListItem { Text = "Available", Value = "1" },
                                new SelectListItem { Text = "Unavailable", Value = "0" }
                            };
                        }
                        @Html.DropDownListFor(model => model.r_availability, availabilityOptions, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.r_availability, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="l_bankname" class="col-sm-3 col-form-label">Room Picture</label>
                    <div class="col-sm-9">
                        @Html.TextBox("roompic", "", new { type = "file", accept = "image/*", required = "required" })
                        @Html.ValidationMessageFor(model => model.r_pic, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.Hidden("r_active", "active")

                <div class="form-group row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary sm-2">Save</button>
                    </div>
                    <span>
                        @Html.ActionLink("Back to Room List", "Index", null, new { @class = "btn btn-light" })
                    </span>
                </div>
            </form>
            </div>
        </div>
    </div>
}