@model IEnumerable<XyTech.Models.tb_room>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-title mb-0" style="font-size: x-large;">List of Rooms</p>

                    @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-success btn-rounded btn-fw" })

                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <thead>
                            <tr>
                                <th>Room No.</th>
                                <th>Building Name</th>
                                <th>Floor Level</th>

                                <th>Price</th>
                                <th>Room Availability</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.r_no)
                                    </td>
                                    <td>
                                        @Html.ActionLink(item.tb_floor.fl_bname, "Details", "Floor", new { id = item.tb_floor.fl_id }, new { @class = "ilink" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tb_floor.fl_bid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.r_price)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.r_availability)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.r_id })" class="btn btn-link" title="edit">
                                            <i class="fa fa-edit text-primary"></i>
                                        </a>
                                        <a href="@Url.Action("Details", new { id = item.r_id })" class="btn btn-link" title="details">
                                            <i class="fa fa-info-circle text-info"></i>
                                        </a>
                                        <a href="@Url.Action("Delete", new { id = item.r_id })" class="btn btn-link" title="delete">
                                            <i class="fa fa-trash text-danger"></i>
                                        </a>
                                        <a href="@Url.Action("Create", "Tenant")" class="btn btn-link" title="delete">
                                            <i class="fa mdi mdi-account-multiple-plus text-success"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


