@model IEnumerable<XyTech.Models.tb_room>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @if (ViewBag.Message == " Room has been updated successfully!")
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong>@ViewBag.Message
                        <button type="button" class="close" data-dismiss="alert">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </div>
                }
                @if (ViewBag.Message == " Room has been created successfully!")
                {
                    <div class="alert alert-success">
                        <strong>Success!</strong>@ViewBag.Message
                        <button type="button" class="close" data-dismiss="alert">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </div>
                }
                @if (ViewBag.Message == " Room has been deleted successfully.")
                {
                    <div class="alert alert-danger">
                        <strong>Alert!</strong>@ViewBag.Message
                        <button type="button" class="close" data-dismiss="alert">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </div>
                }

            <div class="d-flex justify-content-between align-items-center">
                <p class="card-title mb-0" style="font-size: x-large;">List of Rooms</p>

                <div class="col-3 d-flex">
                    <form id="floorFilterForm" class="mr-2">
                        @Html.DropDownList("floorFilter", ViewData["FloorFilter"] as IEnumerable<SelectListItem>, new { @class = "form-control", id = "floorFilter" })
                    </form>
                    @Html.ActionLink("Add", "Create", null, new { @class = "btn btn-success btn-rounded btn-fw" })
                </div>
            </div>

                <br />

                <div class="table-responsive">
                    <table id="dataTable" class="display expandable-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Room No.</th>
                                <th>Building Name</th>
                                <th>Floor Level</th>

                                <th>Price</th>
                                <th>Room Availability</th>
                                <th style="text-align:center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.r_no)
                                    </td>
                                    <td>
                                        @Html.ActionLink(item.tb_floor.fl_bname, "Details", "Floor", new { id = item.tb_floor.fl_id }, new { @class = "ilink" })
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.tb_floor.fl_bid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.r_price)
                                    </td>
                                    <td style="text-align:center">
                                        @if (item.r_availability == 1)
                                        {
                                            <div class="badge badge-success">
                                                Available
                                            </div>
                                        }
                                        else if (item.r_availability == 0)
                                        {
                                            <div class="badge badge-danger">
                                                Unavailable
                                            </div>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", new { id = item.r_id })" class="btn btn-link" title="edit">
                                            <i class="fa fa-edit text-primary"></i>
                                        </a>
                                        <a href="@Url.Action("Details", new { id = item.r_id })" class="btn btn-link" title="details">
                                            <i class="fa fa-info-circle text-info"></i>
                                        </a>

                                        @if (item.r_availability == 1)
                                        {
                                            <a href="@Url.Action("Delete", new { id = item.r_id })" class="btn btn-link" title="delete">
                                                <i class="fa fa-trash text-danger"></i>
                                            </a>
                                            <a href="@Url.Action("Create", "Tenant", new { id = item.r_id })" class="btn btn-link" title="addtenant">
                                                <i class="fa mdi mdi-account-multiple-plus text-success"></i>
                                            </a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery('#dataTable').DataTable();

            document.getElementById("floorFilter").addEventListener("change", function () {
                this.form.submit();
            });
        });
    </script>
}
