@model IEnumerable<XyTech.Models.tb_user>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @if (ViewBag.Message == "User is successfully saved!")
                {
                    <div class="alert alert-success">
                        <strong>@ViewBag.Message</strong>
                        <button type="button" class="close" data-dismiss="alert">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </div>
                }
                @if (ViewBag.Message == "User is deleted.")
                {
                    <div class="alert alert-danger">
                        <strong>@ViewBag.Message</strong>
                        <button type="button" class="close" data-dismiss="alert">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </div>
                }
                <div class="d-flex justify-content-between">
                    <p class="card-title mb-0" style="font-size: x-large;">User</p>
                    @Html.ActionLink("New User", "Create", null, new { @class = "btn btn-success btn-rounded btn-fw" })
                </div>
                <br />

                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTable" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Username
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Phone Number
                                        </th>
                                        <th>
                                            User Type
                                        </th>
                                        <th>
                                            Active
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.u_username)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.u_email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.u_phone)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.u_usertype)
                                            </td>
                                            <td>
                                                @if (item.u_active == "active")
                                                {
                                                    <label class="badge badge-success">@item.u_active</label>
                                                }
                                                else
                                                {
                                                    <label class="badge badge-danger">@item.u_active</label>
                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", new { id = item.u_id })" class="btn btn-link" title="edit">
                                                    <i class="fa fa-edit text-primary"></i>
                                                </a>
                                                <a href="@Url.Action("Details", new { id = item.u_id })" class="btn btn-link" title="details">
                                                    <i class="fa fa-info-circle text-info"></i>
                                                </a>
                                                <a href="@Url.Action("Delete", new { id = item.u_id })" class="btn btn-link" title="delete">
                                                    <i class="fa fa-trash text-danger"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery('#dataTable').DataTable();
        });
    </script>
}
