@model IEnumerable<XyTech.Models.tb_user>

@{
    ViewBag.Title = "Index";
}

<h2>User</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.u_username)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.u_email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.u_phone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.u_usertype)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.u_active)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.u_username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.u_email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.u_phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.u_usertype)
                        </td>
                        <td>
                            @if (item.u_active == "active")
                            {
                                <label class="badge badge-success">@item.u_active</label>
                            }
                            else
                            {
                                <label class="badge badge-danger">@item.u_active</label>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.u_username })" class="btn btn-link" title="edit">
                                <i class="fa fa-edit text-primary"></i>
                            </a>
                            <a href="@Url.Action("Details", new { id = item.u_username })" class="btn btn-link" title="details">
                                <i class="fa fa-info-circle text-info"></i>
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.u_username })" class="btn btn-link" title="delete">
                                <i class="fa fa-trash text-danger"></i>
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
