@model XyTech.Models.tb_attendance

@{
    ViewBag.Title = "Create";
}

<h2>Add attendance</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Please select the floor name and date to add attendance.</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.a_floor, "Floor Name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("a_floor", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.a_floor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.a_check, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <i class="mdi mdi-calendar-plus menu-icon"></i>
            <div class="col-md-10">
                @Html.EditorFor(model => model.a_check, new { htmlAttributes = new { @class = "form-control datepicker", autocomplete = "off" } })
                @Html.ValidationMessageFor(model => model.a_check, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@{
    string errorMessage = TempData["ErrorMessage"] as string;
    if (!string.IsNullOrEmpty(errorMessage))
    {
    <script>
            window.onload = function() {
                alert("@errorMessage");
                window.location.href = '@Url.Action("Index", "Attendance")';
            };
    </script>
    }
}



@section Scripts {


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#a_check').datepicker({
                dateFormat: "yy/mm/dd",
                changeMonth: true,
                changeYear: true,
                minDate: 0,
                onSelect: function (selected) {
                    var dt = new Date(selected);
                    dt.setDate(dt.getDate() + 1);

                    dt.setHours(currentDate.getHours());
                    dt.setMinutes(currentDate.getMinutes());

                    $("#a_check").datepicker("option", "minDate", dt);
                }
            });
        });
    </script>
}
