@model XyTech.Models.tb_attendance

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Attendance Information</h4>
                <p class="card-description">
                    Edit attendance information by filling the form below.
                </p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.a_id)

                <form class="forms-sample">
                    <div class="form-group row">
                        @Html.LabelFor(model => model.a_floor, "Floor Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-sm-9">
                            @Html.DropDownList("a_floor", null, htmlAttributes: new { @class = "form-control", selected = "true" })
                            @Html.ValidationMessageFor(model => model.a_floor, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="a_check" class="control-label col-md-2">Date</label>
                        <div class="col-sm-9">
                            @Html.EditorFor(model => model.a_check, new { htmlAttributes = new { @class = "form-control datepicker", autocomplete = "off", required = "required" } })
                            @Html.ValidationMessageFor(model => model.a_check, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-auto">
                            <input type="submit" value="Save" class="btn btn-primary sm-2" />
                        </div>
                        <span>
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        // Display pop-up window with error message
        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                $(document).ready(function() {
                    alert('@TempData["ErrorMessage"]');
                });
            </text>
        }
    </script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $('#a_check').datepicker({
                dateFormat: "dd/MM/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0",
                minDate: "0D"
            });

        });
    </script>



}
