@model IEnumerable<XyTech.Models.tb_attendance>

@{
    ViewBag.Title = "Index";
}

<style>
    .collapsible {
        background-color: #7978E9;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin-bottom: 15px;
    }

        .active, .collapsible:hover {
            background-color: #7DA0FA;
        }

        .collapsible:after {
            content: 'Show';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        margin-bottom: 15px;
    }

    /* Your additional CSS styles */

    .monthly-attendance-button {
        margin-left: 10px;
    }
</style>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-success">
                    <strong>@TempData["ErrorMessage"]</strong>
                    <button type="button" class="close" data-dismiss="alert">
                        <span class="mdi mdi-close"></span>
                    </button>
                </div>
            }
            @if (ViewBag.Message == "Attendance is successfully saved!")
            {
                <div class="alert alert-success">
                    <strong>@ViewBag.Message</strong>
                    <button type="button" class="close" data-dismiss="alert">
                        <span class="mdi mdi-close"></span>
                    </button>
                </div>
            }
            @if (ViewBag.Message == "Attendance is deleted.")
            {
                <div class="alert alert-danger">
                    <strong>@ViewBag.Message</strong>
                    <button type="button" class="close" data-dismiss="alert">
                        <span class="mdi mdi-close"></span>
                    </button>
                </div>
            }

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <!-- Top section -->
                    <div class="d-flex justify-content-between">
                        <p class="card-title mb-0" style="font-size: x-large;">Attendance</p>

                        <!-- Monthly Attendance Button -->
                        <div class="d-flex">
                            <a href="@Url.Action("MonthlyAttendance", "Attendance")" class="btn btn-primary monthly-attendance-button">Monthly Attendance</a>

                            @Html.ActionLink("Create", "Create", "Attendance", new { @class = "btn btn-success btn-rounded ml-2" })
                        </div>
                    </div>
                


                    <div class="row mb-3">
                        <div class="col-md-4">
                            <div class="input-group">
                                <input type="text" id="dateRangePicker" class="form-control" autocomplete="off" placeholder="Select Date To View" />
                                <div class="input-group-append">
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <form id="floorFilterForm">
                                <select id="floorFilter" class="form-control">
                                    <option value="">All Floors</option>
                                    @foreach (var floorItem in ViewData["FloorFilter"] as IEnumerable<SelectListItem>)
                                    {
                                        <option value="@floorItem.Value">@floorItem.Text</option>
                                    }
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="dataTable" class="display expandable-table" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Date and Time</th>
                                        <th>Floor ID</th>
                                        <th>Floor Name</th>
                                        <th style="text-align:center">Actions</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @section Scripts {
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/moment.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.min.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.css" rel="stylesheet" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
                <script src="https://cdn.datatables.net/plug-ins/1.13.4/sorting/datetime-moment.js"></script>

                <script type="text/javascript">
            $(document).ready(function () {
                $.fn.dataTable.moment('DD-MM-YYYY');

                var table = $('#dataTable').DataTable({
                    ajax: {
                        url: '@Url.Action("GetFilteredData", "Attendance")',
                        dataSrc: ''
                    },
                    order: [[0, 'desc']],
                    columns: [
                        {
                            data: 'a_check',
                            render: function (data, type, row) {
                                return moment(data).format('DD-MM-YYYY');
                            },
                            width: '25%',
                        },
                        { data: 'a_floor', width: '15%' },
                        { data: 'fl_bname', width: '30%' },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return '<a href="@Url.Action("Edit", "Attendance")/' + row.a_id + '" class="btn btn-link" title="edit"><i class="fa fa-edit text-primary"></i></a>'
                                    + '<a href="@Url.Action("Delete", "Attendance")/' + row.a_id + '" class="btn btn-link" title="delete"><i class="fa fa-trash text-danger"></i></a>';
                            },
                            width: '10%'
                        }
                    ]
                });

                $('#dateRangePicker').daterangepicker({
                    autoUpdateInput: false,
                    locale: {
                        cancelLabel: 'Clear',
                        format: 'YYYY-MM-DD'
                    }
                });

                $('#dateRangePicker').on('apply.daterangepicker', function (ev, picker) {
                    var startDate = picker.startDate.format('YYYY-MM-DD');
                    var endDate = picker.endDate.format('YYYY-MM-DD');
                    table.ajax.url('@Url.Action("GetFilteredData", "Attendance")?startDate=' + startDate + '&endDate=' + endDate).load();
                });

                $('#dateRangePicker').on('cancel.daterangepicker', function (ev, picker) {
                    $(this).val('');
                    table.ajax.url('@Url.Action("GetFilteredData", "Attendance")').load();
                });

                $('#floorFilter').change(function () {
                    var floorId = $(this).val();
                    table.column(1).search(floorId).draw();
                });
            });
                </script>
            }
        </div>
