@model IEnumerable<XyTech.Models.MonthlyAttendanceViewModel>
@using Newtonsoft.Json
@{
    ViewBag.Title = "Monthly Attendance";
}


<style>
    .table-responsive {
        margin-top: 20px;
    }
</style>

@using System.Globalization;

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title">Monthly Attendance</h4>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="dataTable" class="display expandable-table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Year</th>
                                                <th>Month</th>
                                                <th>Floor Name</th>
                                                <th>Attendance Count</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.Year</td>
                                                    <td>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.Month)</td>
                                                    <td>@item.FloorName</td>
                                                    <td>@item.AttendanceCount</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


            @section Scripts {
                <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/moment.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.min.js"></script>
                <link href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.css" rel="stylesheet" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
                <script src="https://cdn.datatables.net/plug-ins/1.13.4/sorting/datetime-moment.js"></script>

                <script type="text/javascript">
        $(document).ready(function () {
            $.fn.dataTable.moment('DD-MM-YYYY');

            var table = $('#dataTable').DataTable({
                data: @Html.Raw(JsonConvert.SerializeObject(Model)),
                columns: [
                    { data: 'Year' },
                    { data: 'Month' },
                    { data: 'FloorName' },
                    { data: 'AttendanceCount' }
                ]
            });

            // Rest of the script
        });
                </script>
            }
