@model XyTech.Models.tb_inventory

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Inventory</h4>
                <p class="card-description">
                    Add a new inventory by filling the form below.
                </p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form class="forms-sample">
                <div class="form-group row">
                    <label for="iv_floor" class="col-sm-3 col-form-label">Floor</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("iv_floor", null, htmlAttributes: new { @class = "form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.iv_floor, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="iv_item" class="col-sm-3 col-form-label">Item</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.iv_item, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.iv_item, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="form-group row">
                    <label for="iv_count" class="col-sm-3 col-form-label">Quantity</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.iv_count, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.iv_count, "", new { @class = "text-danger" })

                    </div>
                </div>


                @Html.Hidden("iv_active", "1")

                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
            </form>

                

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
