@model XyTech.Models.tb_inventory

@{
    ViewBag.Title = "Delete";
}



<div align="center">
    <div align="left" class="col-lg-9 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Delete Inventory</h4>
                <p class="card-description">
                    Are you sure to delete this inventory?
                </p>
                <!--<hr />-->
                <div class="table-responsive">
                    <table class="table table-striped table-borderless">
                        <tbody>
                            <tr>
                                <th class="col-3">
                                    Floor
                                </th>

                                <td class="col-6">
                                    @Html.DisplayFor(model => model.tb_floor.fl_bname)
                                </td>
                            </tr>

                            <tr>
                                <th class="col-3">
                                    Item
                                </th>

                                <td class="col-6">
                                    @Html.DisplayFor(model => model.iv_item)
                                </td>
                            </tr>

                            <tr>
                                <th class="col-3">
                                    Quantity
                                </th>

                                <td class="col-6">
                                    @Html.DisplayFor(model => model.iv_count)
                                </td>
                            </tr>



                        </tbody>
                    </table>
                </div>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color" style="margin-top: 25px;">
                        <input type="submit" value="Delete" class="btn btn-danger btn-rounded btn-fw" onclick="return confirm('Are you sure to delete this inventory?');" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
                    </div>
                }

            </div>
        </div>
    </div>
</div>