@model IEnumerable<XyTech.Models.tb_inventory>

@{
    ViewBag.Title = "Index";
}


<style>
    .collapsible {
        background-color: #7978E9;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin-bottom: 15px;
    }

        .active, .collapsible:hover {
            background-color: #7DA0FA;
        }

        .collapsible:after {
            content: 'Show';
            color: white;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        margin-bottom: 15px;
    }
</style>

<h2>Inventory</h2>

<hr />

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                @if (ViewBag.Message == "Inventory is successfully saved!")
                {
                    <div class="alert alert-success">
                        <strong>@ViewBag.Message</strong>
                        <button type="button" class="close" data-dismiss="alert">
                            <span class="mdi mdi-eye-off"></span>
                        </button>
                    </div>
                }
                @if (ViewBag.Message == "Inventory is deleted.")
                {
                    <div class="alert alert-danger">
                        <strong>@ViewBag.Message</strong>
                        <button type="button" class="close" data-dismiss="alert">
                            <span class="mdi mdi-eye-off"></span>
                        </button>
                    </div>
                }
                <p>
                    @Html.ActionLink("Add", "Create", "Inventory", null, new { @class = "btn btn-success btn-rounded btn-fw" })
                </p>

                

                @foreach (var floorGroup in Model.GroupBy(item => item.iv_floor))
                {
                    var floor = floorGroup.First().tb_floor;
                    var tableId = "dataTable_" + floor.fl_id;

                    <button class="collapsible">
                        @floor.fl_bname
                    </button>

                    <div class="content">
                        
                        <table id="@tableId" class="display expandable-table" style="width:100%">

                            <thead>
                                <tr>
                                    <th>
                                        Item
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Action
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in floorGroup)
                                {

                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.iv_item)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.iv_count)
                                        </td>

                                        <td>
                                            <a href="@Url.Action("Edit", new { id = item.iv_id })" class="btn btn-link" title="edit">
                                                <i class="fa fa-edit text-primary"></i>
                                            </a>
                                            <a href="@Url.Action("Details", new { id = item.iv_id })" class="btn btn-link" title="details">
                                                <i class="fa fa-info-circle text-info"></i>
                                            </a>
                                            <a href="@Url.Action("Delete", new { id = item.iv_id })" class="btn btn-link" title="delete">
                                                <i class="fa fa-trash text-danger"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Iterate through each table with class 'expandable-table'
            $('.expandable-table').each(function () {
                $(this).DataTable();
            });
        });
    </script>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>
}


