@model XyTech.Models.tb_tenant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Tenant</h4>
    <hr />
    <table class="display expandable-table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>@Html.DisplayFor(model => model.t_name)</td>
            </tr>
            <tr>
                <th>IC Number</th>
                <td>@Html.DisplayFor(model => model.t_ic)</td>
            </tr>
            <tr>
                <th>
                    <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                        <span class="menu-title">IC Picture</span>
                        <i class="mdi mdi-eye"></i>
                    </a>
                </th>
                <td>
                    <div class="collapse" id="form-elements">
                        <img src="@Url.Content("~/Content/assets/images/Icfile/" + Model.t_uploadic)" alt="Uploaded Image" style="width: 400px; height: auto;" />
                    </div>
                    @Html.DisplayFor(model => model.t_uploadic)
                </td>
            </tr>
            <tr>
                <th>
                    <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                        <span class="menu-title">Contract</span>
                        <i class="mdi mdi-eye"></i>
                    </a>
                </th>
                <td>
                    <div class="collapse" id="icons">
                        <img src="@Url.Content("~/Content/assets/images/Contractfile/" + Model.t_contract)" alt="Uploaded Image" style="width: 400px; height: auto;" />
                    </div>
                    @Html.DisplayFor(model => model.t_contract)
                </td>
            </tr>
            <tr>
                <th>Phone Number</th>
                <td>@Html.DisplayFor(model => model.t_phone)</td>
            </tr>
            <tr>
                <th>Emergency Contact</th>
                <td>@Html.DisplayFor(model => model.t_emergency)</td>
            </tr>
            <tr>
                <th>Check In Date</th>
                <td>@Model.t_indate.ToString("dd-MM-yyyy")</td>
            </tr>
            <tr>
                <th>Check Out Date</th>
                <td>@Model.t_outdate.ToString("dd-MM-yyyy")</td>
            </tr>
            <tr>
                <th>Out Session</th>
                <td>@Html.DisplayFor(model => model.t_outsession)</td>
            </tr>
            <tr>
                <th>Siri Number</th>
                <td>@Html.DisplayFor(model => model.t_siri)</td>
            </tr>
            <tr>
                <th>Outstanding</th>
                <td>@Html.DisplayFor(model => model.t_outstanding)</td>
            </tr>
            <tr>
                <th>Payment Status</th>
                <td>@Html.DisplayFor(model => model.t_paymentstatus)</td>
            </tr>
            <tr>
                <th>Room Number</th>
                <td>@Html.DisplayFor(model => model.tb_room.r_floor)</td>
            </tr>
        </tbody>
    </table>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger btn-rounded btn-fw" /> | 
            <span class="btn btn-dark btn-rounded btn-fw">
                @Html.ActionLink("Back to List", "Index")
            </span>
            </div>
    }
</div>
