@model XyTech.Models.tb_tenant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tenant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_name)
        </dd>

        <dt>
            IC Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_ic)
        </dd>

        <dt>
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <span class="menu-title">IC Picture</span>
                <i class="mdi mdi-eye"></i>
            </a>
        </dt>

        <dd>
            <div class="collapse" id="form-elements">
                <img src="@Url.Content("~/Content/assets/images/Icfile/" + Model.t_uploadic)" alt="Uploaded Image" style="width: 400px; height: auto;" />
            </div>
            @Html.DisplayFor(model => model.t_uploadic)
        </dd>

        <dt>
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <span class="menu-title">Contract</span>
                <i class="mdi mdi-eye"></i>
            </a>
        </dt>

        <dd>
            <div class="collapse" id="icons">
                <img src="@Url.Content("~/Content/assets/images/Contractfile/" + Model.t_contract)" alt="Uploaded Image" style="width: 400px; height: auto;" />
            </div>
            @Html.DisplayFor(model => model.t_contract)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_phone)
        </dd>

        <dt>
            Emergency Contact
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_emergency)
        </dd>

        <dt>
            Check In Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_indate)
        </dd>

        <dt>
            Check Out Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_outdate)
        </dd>

        <dt>
            Out Session
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_outsession)
        </dd>

        <dt>
            Siri Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_siri)
        </dd>

        <dt>
            Outstanding
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_outstanding)
        </dd>

        <dt>
            Payment Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.t_paymentstatus)
        </dd>

        <dt>
            Room Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_room.r_floor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.t_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
