@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.Message == "Payment processed successfully!")
{
    <script>
        $(document).ready(function () {
            swal("Payment Recorded!", "Transaction has been recorded in the Finance", "success");
        });
    </script>
}

<div class="row">
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4">Total Bookings</p>
                        <p class="fs-30 mb-2 mdi mdi-hotel">  @ViewBag.lentenant</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Total Rooms Available</p>
                        <p class="fs-30 mb-2 mdi mdi-home-map-marker">  @ViewBag.lenroom/@ViewBag.totalroom</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4">Total Inflow</p>
                        <p class="fs-30 mb-2">  RM @ViewBag.TotalInflow</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-3">Total Active Investor</p>
                        <p class="fs-30 mb-2 mdi mdi-account-multiple-outline">  @ViewBag.leninvestor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Unpaid rental fee that <strong>exceed or equal due date</strong></p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="dataTable1" class="display expandable-table dataTable no-footer" style="width:100%" role="grid">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Check In</th>
                                        <th>Check Out</th>
                                        <th>Outstanding</th>
                                        <th>Floor Name</th>
                                        <th>Room No</th>
                                        <th style="text-align: center">Reminder</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var tenant in ViewBag.tenant)
                                    {
                                        var floor = tenant.tb_room.tb_floor;
                                        var floorPresetCurrent = floor.fl_preset_current;
                                        var encodedFloorPresetCurrent = floorPresetCurrent.Replace(Environment.NewLine, "%0A");

                                        var phoneNumber = tenant.t_phone;
                                        var encodedMessage = encodedFloorPresetCurrent + "%0A%0A" + "RM" + tenant.t_outstanding;
                                        var whatsappUrl = "https://wa.me/+6" + phoneNumber + "?text=" + encodedMessage;
                                        <tr>
                                            <td>@tenant.t_name</td>
                                            <td>@tenant.t_phone</td>
                                            <td>@tenant.t_indate.ToString("dd-MM-yyyy")</td>
                                            <td>@tenant.t_outdate.ToString("dd-MM-yyyy")</td>
                                            <td style="text-align: center">@tenant.t_outstanding</td>
                                            <td style="text-align: center">@floor.fl_bname</td>
                                            <td style="text-align: center">@tenant.tb_room.r_no</td>
                                            <td style="text-align: center">
                                                <a href="@whatsappUrl" target="_blank" class="btn btn-link mdi mdi-whatsapp"></a>
                                                <a href="@Url.Action("Edit", "Tenant", new { id = tenant.t_id })" class="btn btn-link" title="edit">
                                                    <i class="fa fa-edit text-primary"></i>
                                                </a>
                                                <button class="btn mdi mdi-cash-usd text-success" data-toggle="modal" data-target="#paymentModal-@tenant.t_id"></button>

                                                <!-- Payment Modal -->
                                                <div class="modal fade" id="paymentModal-@tenant.t_id" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel-@tenant.t_id" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="paymentModalLabel-@tenant.t_id">Make Payment</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="paymentForm-@tenant.t_id" method="post" action="@Url.Action("Pay", "Home", new { id = tenant.t_id })">
                                                                    <div style="overflow: hidden;">
                                                                        <span style="float: left;">@tenant.t_name</span>
                                                                        <span style="float: right;">Current Outstanding: @tenant.t_outstanding</span>
                                                                    </div>
                                                                    <br />
                                                                    <div class="form-group">
                                                                        <label for="amount-@tenant.t_id">Amount:</label>
                                                                        <input type="number" class="form-control" id="amount" name="amount" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="method-@tenant.t_id">Payment Method:</label>
                                                                        <select class="form-control" id="method" name="method" required>
                                                                            <option value="" selected disabled hidden>Select Method</option>
                                                                            <option value="Bank">Bank</option>
                                                                            <option value="Cash">Cash</option>
                                                                        </select>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Submit Payment</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Rental Fee Due within <strong>one week</strong></p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="dataTable4" class="display expandable-table dataTable no-footer" style="width:100%" role="grid">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Phone</th>
                                        <th>Check In</th>
                                        <th>Check Out</th>
                                        <th>Outstanding</th>
                                        <th>Floor Name</th>
                                        <th>Room No</th>
                                        <th style="text-align: center">Reminder</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var weektenant in ViewBag.weektenant)
                                    {
                                        var floor = weektenant.tb_room.tb_floor;
                                        var floorPresetCurrent = floor.fl_preset_current;
                                        var encodedFloorPresetCurrent = floorPresetCurrent.Replace(Environment.NewLine, "%0A");

                                        var phoneNumber = weektenant.t_phone;
                                        var encodedMessage = "Your rental fee due is coming soon.%0A" + encodedFloorPresetCurrent + "%0A%0A" + "RM" + weektenant.t_outstanding;
                                        var urlwhatsapp = "https://wa.me/+6" + phoneNumber + "?text=" + encodedMessage;
                                        <tr>
                                            <td>@weektenant.t_name</td>
                                            <td>@weektenant.t_phone</td>
                                            <td>@weektenant.t_indate.ToString("dd-MM-yyyy")</td>
                                            <td>@weektenant.t_outdate.ToString("dd-MM-yyyy")</td>
                                            <td style="text-align: center">@weektenant.t_outstanding</td>
                                            <td style="text-align: center">@floor.fl_bname</td>
                                            <td style="text-align: center">@weektenant.tb_room.r_no</td>
                                            <td style="text-align: center">
                                                <a href="@urlwhatsapp" target="_blank" class="btn btn-link mdi mdi-whatsapp"></a>
                                                <a href="@Url.Action("Edit", "Tenant", new { id = weektenant.t_id })" class="btn btn-link" title="edit">
                                                    <i class="fa fa-edit text-primary"></i>
                                                </a>
                                                <button class="btn mdi mdi-cash-usd text-success" data-toggle="modal" data-target="#paymentModal-@weektenant.t_id"></button>

                                                <!-- Payment Modal -->
                                                <div class="modal fade" id="paymentModal-@weektenant.t_id" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel-@weektenant.t_id" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="paymentModalLabel-@weektenant.t_id">Make Payment</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form id="paymentForm-@weektenant.t_id" method="post" action="@Url.Action("Pay", "Home", new { id = weektenant.t_id })">
                                                                    <div style="overflow: hidden;">
                                                                        <span style="float: left;">@weektenant.t_name</span>
                                                                        <span style="float: right;">Current Outstanding: @weektenant.t_outstanding</span>
                                                                    </div>
                                                                    <br />
                                                                    <div class="form-group">
                                                                        <label for="amount-@weektenant.t_id">Amount:</label>
                                                                        <input type="number" class="form-control" id="amount" name="amount" required>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="method-@weektenant.t_id">Payment Method:</label>
                                                                        <select class="form-control" id="method" name="method" required>
                                                                            <option value="" selected disabled hidden>Select Method</option>
                                                                            <option value="Bank">Bank</option>
                                                                            <option value="Cash">Cash</option>
                                                                        </select>
                                                                    </div>
                                                                    <button type="submit" class="btn btn-primary">Submit Payment</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Room Available</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="dataTable3" class="display expandable-table dataTable no-footer" style="width:100%" role="grid">
                                <thead>
                                    <tr>
                                        <th>Floor No</th>
                                        <th>Room No</th>
                                        <th>Price</th>
                                        <th style="text-align: center">Number of Beds</th>
                                        <th>Availability</th>
                                        <th style="text-align: center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var room in ViewBag.room)
                                    {
                                        <tr>
                                            <td>@room.tb_floor.fl_bname</td>
                                            <td>@room.r_no</td>
                                            <td>@room.r_price</td>
                                            <td style="text-align: center">@room.r_size</td>
                                            <td style="text-align: center">
                                                @if (@room.r_availability == 1)
                                                {
                                                    <div class="badge badge-success">
                                                        <span>Available</span>
                                                    </div>
                                                }
                                                else if (@room.r_availability == 0)
                                                {
                                                    <div class="badge badge-danger">
                                                        <span>Unavailable</span>
                                                    </div>
                                                }
                                            </td>
                                            <td style="text-align: center">
                                                <a href="@Url.Action("Edit", "Room", new { id = room.r_id })" class="btn btn-link" title="edit">
                                                    <i class="fa fa-edit text-primary"></i>
                                                </a>
                                                <a href="@Url.Action("Details", "Room", new { id = room.r_id })" class="btn btn-link" title="details">
                                                    <i class="fa fa-info-circle text-info"></i>
                                                </a>
                                                <a href="@Url.Action("Delete", "Room", new { id = room.r_id })" class="btn btn-link" title="delete">
                                                    <i class="fa fa-trash text-danger"></i>
                                                </a>
                                                <a href="@Url.Action("Create", "Tenant", new { id = room.r_id })" class="btn btn-link" title="addtenant">
                                                    <i class="fa mdi mdi-account-multiple-plus text-success"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-title">Landlord Reminder</p>
                </div>
                <div class="table-responsive">
                    <table id="dataTable2" class="display expandable-table dataTable no-footer" style="width:100%" role="grid">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Bank Name</th>
                                <th>Bank Account</th>
                                <th>Fee</th>
                                <th>Payment Due</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var landlord in ViewBag.landlord)
                            {
                                var phoneNum = landlord.l_phone;
                                var encodedMsg = "Dear " + landlord.l_name + "%0A" +
                                                 "An amount of RM" + landlord.l_fee + " has been credited to your bank %0A" + landlord.tb_bankname.bn_description + "%0A" + landlord.l_bank + ".%0A" +
                                                 "Please kindly check your bank account.%0A" +
                                                 "Thank you.";
                                var whatsapp = "https://wa.me/+6" + phoneNum + "?text=" + encodedMsg;
                                <tr>
                                    <td>@landlord.l_name</td>
                                    <td>@landlord.tb_bankname.bn_description</td>
                                    <td>@landlord.l_bank</td>
                                    <td>@landlord.l_fee</td>
                                    <td>@landlord.l_due.ToString("dd-MM-yyyy")</td>
                                    <td style="text-align: center">
                                        <a href="@whatsapp" target="_blank" class="btn btn-link mdi mdi-whatsapp"></a>
                                        <a href="@Url.Action("Edit", "Landlord", new { id = landlord.l_id })" class="btn btn-link" title="edit">
                                            <i class="fa fa-edit text-primary"></i>
                                        </a>
                                        <button class="btn mdi mdi-cash-usd text-success" data-toggle="modal" data-target="#paymentModal-@landlord.l_id"></button>

                                        <!-- Payment Modal -->
                                        <div class="modal fade" id="paymentModal-@landlord.l_id" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel-@landlord.l_id" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="paymentModalLabel-@landlord.l_id">Make Payment</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="paymentForm-@landlord.l_id" method="post" action="@Url.Action("PayLandlord", "Home", new { id = landlord.l_id })">
                                                            <div style="overflow: hidden;">
                                                                <div class="form-group">
                                                                    <label for="text-@landlord.l_id">Name:</label>
                                                                    <input type="text" class="form-control" id="name" name="name" value="@landlord.l_name" readonly>

                                                                </div>
                                                            </div>
                                                            <br />

                                                            @{var floorList = landlord.FloorList ?? new SelectList(new List<SelectListItem>(), "fl_id", "fl_bname"); }

                                                            <div class="form-group">
                                                                <label for="method-@landlord.l_id">Floor:</label>
                                                                <div class="form-group">
                                                                    <select name="floor" required>
                                                                        <option value="">Select a floor</option>
                                                                        @foreach (var floorItem in floorList)
                                                                        {
                                                                            string selected = floorItem.Selected ? "selected" : "";
                                                                            int floorValue = floorItem.Value != null ? Convert.ToInt32(floorItem.Value) : 0;
                                                                            <option value="@floorValue" @selected>@floorItem.Text</option>
                                                                        }
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="amount-@landlord.l_id">Amount:</label>
                                                                <input type="number" class="form-control" id="amount" name="amount" value="@landlord.l_fee" readonly>

                                                            </div>
                                                            <div class="form-group">
                                                                <label for="method-@landlord.l_id">Payment Method:</label>
                                                                <select class="form-control" id="method" name="method" required>
                                                                    <option value="" selected disabled hidden>Select Method</option>
                                                                    <option value="Bank">Bank</option>
                                                                    <option value="Cash">Cash</option>
                                                                </select>
                                                            </div>

                                                            <button type="submit" class="btn btn-primary">Submit Payment</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">@ViewBag.Month's Finance Details</p>
                <div class="d-flex flex-wrap mb-5">
                    <div class="mr-5 mt-3">
                        <p class="text-muted">Total Profit</p>
                        <h3 class="text-primary fs-30 font-weight-medium">@ViewBag.TotalProfit</h3>
                    </div>
                    <div class="mr-5 mt-3">
                        <p class="text-muted">Profit Percentage</p>
                        <h3 class="text-primary fs-30 font-weight-medium">@ViewBag.PercentProfit%</h3>
                    </div>
                </div>
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">@ViewBag.Year Finance Details</p>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery('#dataTable1').DataTable();
            jQuery('#dataTable2').DataTable();
            jQuery('#dataTable3').DataTable();
            jQuery('#dataTable4').DataTable();
        });

        // Prepare the data for the pie chart
        var labels = ['Inflow', 'Outflow'];
        var values = [@ViewBag.TotalInflow, @ViewBag.TotalOutflow];
        var colors = ['#77DD77', '#FF6961']; // Update with your desired pale colors


        // Calculate the total value for percentage calculation
        var totalValue = values.reduce((a, b) => a + b, 0);

        // Calculate the percentage for each value
        var percentages = values.map(value => ((value / totalValue) * 100).toFixed(2) + '%');

        // Create the pie chart
        var ctx = document.getElementById('pieChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    backgroundColor: [
                        'rgba(75, 192, 192, 0.5)',
                        'rgba(255, 99, 132, 0.5)'
                    ],
                    borderColor: [
                        'rgba(75, 192, 192, 1)',
                        'rgba(255,99,132,1)'
                    ],
                }]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var value = dataset.data[tooltipItem.index];
                            var percentage = percentages[tooltipItem.index];
                            return value + ' (' + percentage + ')';
                        }
                    }
                }
            }
        });

        var data = [
            { month: 'January', inflow: @ViewBag.JanInflow, outflow: @ViewBag.JanOutflow },
            { month: 'February', inflow: @ViewBag.FebInflow, outflow: @ViewBag.FebOutflow },
            { month: 'March', inflow: @ViewBag.MarInflow, outflow: @ViewBag.MarOutflow },
            { month: 'April', inflow: @ViewBag.AprInflow, outflow: @ViewBag.AprOutflow },
            { month: 'May', inflow: @ViewBag.MayInflow, outflow: @ViewBag.MayOutflow },
            { month: 'June', inflow: @ViewBag.JunInflow, outflow: @ViewBag.JunOutflow },
            { month: 'July', inflow: @ViewBag.JulInflow, outflow: @ViewBag.JulOutflow },
            { month: 'August', inflow: @ViewBag.AugInflow, outflow: @ViewBag.AugOutflow },
            { month: 'September', inflow: @ViewBag.SepInflow, outflow: @ViewBag.SepOutflow },
            { month: 'October', inflow: @ViewBag.OctInflow, outflow: @ViewBag.OctOutflow },
            { month: 'November', inflow: @ViewBag.NovInflow, outflow: @ViewBag.NovOutflow },
            { month: 'December', inflow: @ViewBag.DecInflow, outflow: @ViewBag.DecOutflow },
        ];

        var ctx2 = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: data.map(item => item.month),
                datasets: [
                    {
                        label: 'Inflow',
                        backgroundColor: 'rgba(75, 192, 192, 0.5)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1,
                        data: data.map(item => item.inflow)
                    },
                    {
                        label: 'Outflow',
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        data: data.map(item => item.outflow)
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
}