@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-tale">
                    <div class="card-body">
                        <p class="mb-4">Total Bookings</p>
                        <p class="fs-30 mb-2 mdi mdi-hotel">  @ViewBag.lentenant</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="mb-4">Total Rooms Available</p>
                        <p class="fs-30 mb-2 mdi mdi-home-map-marker">  @ViewBag.lenroom</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 grid-margin transparent">
        <div class="row">
            <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
                <div class="card card-light-blue">
                    <div class="card-body">
                        <p class="mb-4">Total Inflow</p>
                        <p class="fs-30 mb-2">  RM @ViewBag.TotalInflow</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 stretch-card transparent">
                <div class="card card-light-danger">
                    <div class="card-body">
                        <p class="mb-3">Total Active Investor</p>
                        <p class="fs-30 mb-2 mdi mdi-account-multiple-outline">  @ViewBag.leninvestor</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Finance Details</p>
                <div class="d-flex flex-wrap mb-5">
                    <div class="mr-5 mt-3">
                        <p class="text-muted">Total Profit</p>
                        <h3 class="text-primary fs-30 font-weight-medium">@ViewBag.TotalProfit</h3>
                    </div>
                    <div class="mr-5 mt-3">
                        <p class="text-muted">Profit Percentage</p>
                        <h3 class="text-primary fs-30 font-weight-medium">@ViewBag.PercentProfit%</h3>
                    </div>
                </div>
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <p class="card-title">Landlord Reminder</p>
                </div>
                <div class="table-responsive">
                    <table id="dataTable2" class="display expandable-table dataTable no-footer" style="width:100%" role="grid">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Bank Account</th>
                                <th>Fee</th>
                                <th>Payment Due</th>
                                <th style="text-align: center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var landlord in ViewBag.landlord)
                            {
                                var phoneNum = landlord.l_phone;
                                var encodedMsg = "Dear " + landlord.l_name + ", an amount of RM" + landlord.l_fee + " have been credited to your bank account " + landlord.l_bank + ". Please kindly check your bank account. Thank You.";
                                var whatsapp = "https://wa.me/+6" + phoneNum + "?text=" + encodedMsg;
                                <tr>
                                    <td>@landlord.l_name</td>
                                    <td>@landlord.l_bank</td>
                                    <td>@landlord.l_fee</td>
                                    <td>@landlord.l_due.ToString("dd-MM-yyyy")</td>
                                    <td style="text-align: center">
                                        <a href="@whatsapp" target="_blank" class="btn btn-link mdi mdi-whatsapp"></a> 
                                        <a href="@Url.Action("Edit", "Landlord", new { id = landlord.l_id })" class="btn btn-link" title="edit">
                                            <i class="fa fa-edit text-primary"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card position-relative">
            <div class="card-body">
                <div id="detailedReports" class="carousel slide detailed-report-carousel position-static pt-2" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-title">Tenant with <strong>Unpaid</strong> status that exceed check out date.</p>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive">
                                                        <table id="dataTable1" class="display expandable-table dataTable no-footer" style="width:100%" role="grid">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Phone</th>
                                                                    <th>Check In</th>
                                                                    <th>Check Out</th>
                                                                    <th>Outstanding</th>
                                                                    <th>Room No</th>
                                                                    <th style="text-align: center">Reminder</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var tenant in ViewBag.tenant)
                                                                {
                                                                    var phoneNumber = tenant.t_phone;
                                                                    var encodedMessage = "Dear " + tenant.t_name + ", Please kindly pay the rental fee (RM" + tenant.t_outstanding + ") for last month. Thank You.";
                                                                    var whatsappUrl = "https://wa.me/+6" + phoneNumber + "?text=" + encodedMessage;
                                                                    <tr>
                                                                        <td>@tenant.t_name</td>
                                                                        <td>@tenant.t_phone</td>
                                                                        <td>@tenant.t_indate.ToString("dd-MM-yyyy")</td>
                                                                        <td>@tenant.t_outdate.ToString("dd-MM-yyyy")</td>
                                                                        <td style="text-align: center">@tenant.t_outstanding</td>
                                                                        <td style="text-align: center">@tenant.t_room</td>
                                                                        <td style="text-align: center">
                                                                            <a href="@whatsappUrl" target="_blank" class="btn btn-link mdi mdi-whatsapp"></a> |
                                                                            <a href="@Url.Action("Edit", "Tenant", new { id = tenant.t_id })" class="btn btn-link" title="edit">
                                                                                <i class="fa fa-edit text-primary"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-12 grid-margin stretch-card">
                                    <div class="card">
                                        <div class="card-body">
                                            <p class="card-title">Rental Fee Due within <strong>one week</strong></p>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="table-responsive">
                                                        <table id="dataTable4" class="display expandable-table dataTable no-footer" style="width:100%" role="grid">
                                                            <thead>
                                                                <tr>
                                                                    <th>Name</th>
                                                                    <th>Phone</th>
                                                                    <th>Check In</th>
                                                                    <th>Check Out</th>
                                                                    <th>Outstanding</th>
                                                                    <th>Room No</th>
                                                                    <th style="text-align: center">Reminder</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (var weektenant in ViewBag.weektenant)
                                                                {
                                                                    var phoneNumber = weektenant.t_phone;
                                                                    var encodedMessage = "Dear " + weektenant.t_name + ",Your rental fee due is coming soon " + weektenant.t_outdate + ". Please kindly pay the rental fee (RM" + weektenant.t_outstanding + ") as soon as possible. Thank You.";
                                                                    var urlwhatsapp = "https://wa.me/+6" + phoneNumber + "?text=" + encodedMessage;
                                                                    <tr>
                                                                        <td>@weektenant.t_name</td>
                                                                        <td>@weektenant.t_phone</td>
                                                                        <td>@weektenant.t_indate.ToString("dd-MM-yyyy")</td>
                                                                        <td>@weektenant.t_outdate.ToString("dd-MM-yyyy")</td>
                                                                        <td style="text-align: center">@weektenant.t_outstanding</td>
                                                                        <td style="text-align: center">@weektenant.t_room</td>
                                                                        <td style="text-align: center">
                                                                            <a href="@urlwhatsapp" target="_blank" class="btn btn-link mdi mdi-whatsapp"></a> |
                                                                            <a href="@Url.Action("Edit", "Tenant", new { id = weektenant.t_id })" class="btn btn-link" title="edit">
                                                                                <i class="fa fa-edit text-primary"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#detailedReports" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#detailedReports" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Room Available</p>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table id="dataTable3" class="display expandable-table dataTable no-footer" style="width:100%" role="grid">
                                <thead>
                                    <tr>
                                        <th>Floor No</th>
                                        <th>Room No</th>
                                        <th>Price</th>
                                        <th style="text-align: center">Number of Beds</th>
                                        <th>Availability</th>
                                        <th style="text-align: center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var room in ViewBag.room)
                                    {
                                        
                                        <tr>  
                                            <td>@room.tb_floor.fl_bname</td>
                                            <td>@room.r_no</td>
                                            <td>@room.r_price</td>
                                            <td style="text-align: center">@room.r_size</td>
                                            <td style="text-align: center">
                                                @if (@room.r_availability == 1)
                                                {
                                                    <span style="color: forestgreen;">Available</span>
                                                }
                                                else if (@room.r_availability == 0)
                                                {
                                                    <span style="color: red;">Unavailable</span>
                                                }
                                            </td>
                                            <td style="text-align: center">
                                                <a href="@Url.Action("Edit", new { id = room.r_id })" class="btn btn-link" title="edit">
                                                    <i class="fa fa-edit text-primary"></i>
                                                </a>
                                                <a href="@Url.Action("Details", new { id = room.r_id })" class="btn btn-link" title="details">
                                                    <i class="fa fa-info-circle text-info"></i>
                                                </a>
                                                <a href="@Url.Action("Delete", new { id = room.r_id })" class="btn btn-link" title="delete">
                                                    <i class="fa fa-trash text-danger"></i>
                                                </a>
                                                <a href="@Url.Action("Create", "Tenant", new { id = room.r_id })" class="btn btn-link" title="addtenant">
                                                    <i class="fa mdi mdi-account-multiple-plus text-success"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            //jQuery('#dataTable').DataTable();
            jQuery('#dataTable2').DataTable();
            jQuery('#dataTable3').DataTable();
            
        });

        function initDataTable() {
            jQuery('#dataTable1').DataTable();
            jQuery('#dataTable4').DataTable();
        }

        // Initialize DataTable on document ready
        $(document).ready(function () {
            initDataTable();
        });

        $('#detailedReports').on('slid.bs.carousel', function () {
            initDataTable();
        });

        // Prepare the data for the pie chart
        var labels = ['Inflow', 'Outflow'];
        var values = [@ViewBag.TotalInflow, @ViewBag.TotalOutflow];
        var colors = ['green', 'red']; // Specify the colors for each segment

        // Calculate the total value for percentage calculation
        var totalValue = values.reduce((a, b) => a + b, 0);

        // Calculate the percentage for each value
        var percentages = values.map(value => ((value / totalValue) * 100).toFixed(2) + '%');

        // Create the pie chart
        var ctx = document.getElementById('pieChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: labels,
                datasets: [{
                    data: values,
                    backgroundColor: colors
                }]
            },
            options: {
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem, data) {
                            var dataset = data.datasets[tooltipItem.datasetIndex];
                            var value = dataset.data[tooltipItem.index];
                            var percentage = percentages[tooltipItem.index];
                            return value + ' (' + percentage + ')';
                        }
                    }
                }
            }
        });
    </script>
}