<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" style="padding-left:20px;">
        <a class="navbar-brand brand-logo mr-6" href="@Url.Action("Index","Home")"><img src="~/Content/assets/images/logo-word.png" class="mr-2" alt="logo" /></a>
        <a class="navbar-brand brand-logo-mini" href="@Url.Action("Index","Home")"><img src="~/Content/assets/images/logo1.png" alt="logo" /></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
                <div class="input-group">
                    <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                        <span class="input-group-text" id="search">
                            <h4 class="font-weight-bold">Welcome back, @Session["u_username"]</h4>
                        </span>
                    </div>                    
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown">
                @if (ViewBag.countlandlord == 0 && ViewBag.counttenant == 0)
                {
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="icon-bell mx-0"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-success">
                                    <i class="mdi mdi-checkbox-marked-circle-outline mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">You have all catch up!</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    No pending transaction or request.
                                </p>
                            </div>
                        </a>
                    </div>
                }
                else if (ViewBag.countlandlord == null && ViewBag.counttenant == null)
                {
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="icon-bell mx-0"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-warning">
                                    <i class="mdi mdi-arrow-left-drop-circle-outline mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Unable to view</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Please go back to main page.
                                </p>
                            </div>
                        </a>
                    </div>
                }
                else
                {
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-toggle="dropdown">
                        <i class="icon-bell mx-0"></i>
                        <span class="count"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                        <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>

                        @if (ViewBag.countlandlord != 0)
                        {

                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-info">
                                    <i class="ti-info-alt mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Landlord Payment</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Total : @ViewBag.countlandlord
                                </p>
                            </div>
                        </a>
                        }
                        @if (ViewBag.counttenant != 0)
                        {
                        <a class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-danger">
                                    <i class="ti-user mx-0"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">Tenant Reminder</h6>
                                <p class="font-weight-light small-text mb-0 text-muted">
                                    Total : @ViewBag.counttenant
                                </p>
                            </div>
                        </a>
                        }
                    </div>
                }
            </li>
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                    <img src="~/Content/assets/images/faces/face28.jpg" alt="profile" />
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="@Url.Action("Profile", "User", new { id = @Session["id"] })">
                        <i class="ti-settings text-primary"></i>
                        Profile
                    </a>
                    <a class="dropdown-item" href="@Url.Action("logout", "Login")">
                        <i class="ti-power-off text-primary"></i>
                        Logout
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
