<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Home")">
                <i class="mdi mdi-chart-bar menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","User")">
                <i class="mdi mdi-account-search menu-icon"></i>
                <span class="menu-title">User</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Investor")">
                <i class="mdi mdi-trophy-award menu-icon"></i>
                <span class="menu-title">Investor</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Finance")">
                <i class="mdi mdi-cash-multiple menu-icon"></i>
                <span class="menu-title">Finance</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Floor")">
                <i class="mdi mdi-domain menu-icon"></i>
                <span class="menu-title">Floor</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Tenant")">
                <i class="mdi mdi-clipboard-account menu-icon"></i>
                <span class="menu-title">Tenants</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Landlord")">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Landlord</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Attendance")">
                <i class="mdi mdi-timetable menu-icon"></i>
                <span class="menu-title">Attendance</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index","Inventory")">
                <i class="mdi mdi-package-variant-closed menu-icon"></i>
                <span class="menu-title">Inventory</span>
            </a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
                <i class="icon-ban menu-icon"></i>
                <span class="menu-title">For Future Use</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="error">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#"> 404 </a></li>
                    <li class="nav-item"> <a class="nav-link" href="#"> 500 </a></li>
                </ul>
            </div>
        </li>
        -->
    </ul>
</nav>
