
@model XyTech.Models.tb_floor

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm(Html.BeginForm("Create", "Floor", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Floor</h4>
                <p class="card-description">
                    Add a new floor by filling the form below.
                </p>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <form class="forms-sample">

                @Html.Hidden("fl_id")

                <div class="form-group row">
                    <label for="l_contact" class="col-sm-3 col-form-label">Floor Level</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.fl_bid, new { htmlAttributes = new { @class = "form-control", placeholder = "Floor Level", required = "required" } })
                        @Html.ValidationMessageFor(model => model.fl_bid, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <label for="l_fee" class="col-sm-3 col-form-label">Address</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.fl_address, new { htmlAttributes = new { @class = "form-control", placeholder = "Floor Building Address", required = "required" } })
                        @Html.ValidationMessageFor(model => model.fl_address, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="form-group row">
                    <label for="l_due" class="col-sm-3 col-form-label">Landlord Name</label>
                    <div class="col-sm-9">
                        @Html.DropDownList("fl_landlord", null, htmlAttributes: new { @class = "form-control", placeholder = "Select a landlord", required = "required" })
                        @Html.ValidationMessageFor(model => model.fl_landlord, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="l_bankname" class="col-sm-3 col-form-label">WiFi Password</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.fl_wifipwd, new { htmlAttributes = new { @class = "form-control", placeholder = "WiFi Password", required = "required" } })
                        @Html.ValidationMessageFor(model => model.fl_wifipwd, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group row">
                    <label for="l_bank" class="col-sm-3 col-form-label">Modem IP</label>
                    <div class="col-sm-9">
                        @Html.EditorFor(model => model.fl_modemip, new { htmlAttributes = new { @class = "form-control", placeholder = "Modem IP Address", required = "required" } })
                        @Html.ValidationMessageFor(model => model.fl_modemip, "", new { @class = "text-danger" })

                    </div>
                </div>


                <div class="form-group row">
                    <label for="l_bank" class="col-sm-3 col-form-label">CCTV QR Code</label>
                    <div class="col-sm-9">
                        @Html.TextBox("uploadqr", "", new { type = "file", accept = "image/*", required = "required" })
                        @Html.ValidationMessageFor(model => model.fl_cctvqr, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <label for="l_bank" class="col-sm-3 col-form-label">Floor Layout</label>
                    <div class="col-sm-9">
                        @Html.TextBox("uploadly", "", new { type = "file", accept = "image/*", required = "required" })
                        @Html.ValidationMessageFor(model => model.fl_layout, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.Hidden("fl_active", "active")

                <div class="form-group row">
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-rounded btn-fw">Save</button>
                    </div>
                    <div class="col-auto">
                        @Html.ActionLink("Back", "FloorList", null, new { @class = "btn btn-light btn-rounded btn-fw" })
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
}
<script>
    $(function () {
        $('#createForm').submit(function (e) {
            e.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: new FormData(this),
                processData: false,
                contentType: false,
                success: function () {
                    // Show success message popup
                    alert('Floor record created successfully!');

                    // Redirect to the index page
                    window.location.href = '@Url.Action("FloorList", "Floor")';
                },
                error: function () {
                    // Show error message popup
                    alert('Error creating floor record.');
                }
            });
        });
    });
</script>