@model XyTech.Models.tb_floor

@{
    ViewBag.Title = "Details_DL5";
}

<!DOCTYPE html>
<html>
<body>
    <p class="card-title mb-0" style="font-size: x-large; font-weight:bold">Floor Information</p>
    <br />
    <div>
        <img class="floorlayout" src="~/Content/assets/images/floor_layout_trim/DL5-2.jpeg" alt="DL1" usemap="#DL1map">

        <map name="DL1map">
            <area shape="rect" coords="43,29,119,89" alt="Room1" href="@Url.Action("Details", "Room", new { id = 15 })" id="r_id">
            <area shape="rect" coords="46,94,121,148" alt="Room2" href="@Url.Action("Details", "Room", new { id = 16 })" id="r_id">
            <area shape="rect" coords="45,154,122,212" alt="Room3" href="@Url.Action("Details", "Room", new { id = 17 })" id="r_id">
            <area shape="rect" coords="44,218,120,270" alt="Room4" href="@Url.Action("Details", "Room", new { id = 18 })" id="r_id">
            <area shape="rect" coords="44,278,124,329" alt="Room5" href="@Url.Action("Details", "Room", new { id = 19 })" id="r_id">
            <area shape="rect" coords="46,336,120,389" alt="Room6" href="@Url.Action("Details", "Room", new { id = 20 })" id="r_id">
            <area shape="rect" coords="45,398,120,454" alt="Room7" href="@Url.Action("Details", "Room", new { id = 21 })" id="r_id">
            <area shape="rect" coords="43,458,119,514" alt="Room8" href="@Url.Action("Details", "Room", new { id = 22 })" id="r_id">
            <area shape="rect" coords="46,520,122,573" alt="Room9" href="@Url.Action("Details", "Room", new { id = 23 })" id="r_id">
            <area shape="poly" coords="46,580,99,580,106,596,124,604,122,634,46,634" alt="Room10" href="@Url.Action("Details", "Room", new { id = 24 })" id="r_id">
            <area shape="poly" coords="153,512,232,512,233,566,180,566,154,538" alt="Room11" href="@Url.Action("Details", "Room", new { id = 25 })" id="r_id">
            <area shape="rect" coords="157,457,230,506" alt="Room12" href="@Url.Action("Details", "Room", new { id = 26 })" id="r_id">
            <area shape="rect" coords="154,398,230,448" alt="Room13" href="@Url.Action("Details", "Room", new { id = 27 })" id="r_id">
            <area shape="rect" coords="154,140,228,208" alt="Room14" href="@Url.Action("Details", "Room", new { id = 28 })" id="r_id">
            <area shape="poly" coords="153,30,171,29,172,59,230,61,231,131,175,133,162,111,152,108" alt="Room15" href="@Url.Action("Details", "Room", new { id = 29 })" id="r_id">
        </map>
    </div>

    <div class="col-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="exampleInputUsername2" class="col-sm-4 col-form-label">Building Name</label>
                        <div class="col-sm-7 col-form-label">
                            @Html.DisplayFor(model => model.fl_bname)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputEmail2" class="col-sm-4 col-form-label">Floor Level</label>
                        <div class="col-sm-7 col-form-label">
                            @Html.DisplayFor(model => model.fl_bid)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputMobile" class="col-sm-4 col-form-label">Address</label>
                        <div class="col-sm-7 col-form-label">
                            @Html.DisplayFor(model => model.fl_address)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputPassword2" class="col-sm-4 col-form-label">Landlord Name</label>
                        <div class="col-sm-7 col-form-label">
                            @Html.DisplayFor(model => model.tb_landlord.l_name)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">WiFi Password</label>
                        <div class="col-sm-7 col-form-label">
                            @Html.DisplayFor(model => model.fl_wifipwd)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">Modem IP</label>
                        <div class="col-sm-7 col-form-label">
                            @Html.DisplayFor(model => model.fl_modemip)
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">CCTV QR Code</label>
                        <div class="col-sm-7 col-form-label">
                            <img src="@Url.Content("~/Content/assets/images/cctvqr/" + Model.fl_cctvqr)" alt="Uploaded Image" style="width: 300px; height: auto;" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">Preset Message</label>
                        <div class="col-sm-7 col-form-label">
                            [
                            <br />
                            (attached layout bilik DL5)
                            <br />
                            dalam gambar 👆🏼
                            <br />
                            --> harga sewa bulanan
                            <br />
                            termasuk api dan air
                            <br />
                            --> bilik masih kosong
                            <br />
                            yang tidak bertanda ❌
                            <br />
                            <br />
                            + deposit RM100
                            <br />
                            <br />
                            Tingkat 1
                            <br />
                            <br />
                            video bilik: <br />
                            https://youtube.com/playlist?list=PLPU6s1lrzEXLIvAoU5EdddfWEbyT24wQa
                            <br />
                            <br />
                            lokasi:<br />
                            https://maps.app.goo.gl/RXWUPBhtVn1A38gPA
                            <br />
                            atas Restoran Odeen, bertentangan Klinik Laguna
                            <br />
                            ]
                        </div>
                    </div>
                    <div style="margin-top: 25px;">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.fl_id }, new { @class = "btn btn-primary btn-rounded btn-fw" })
                        @Html.ActionLink("See Rooms", "Index", "Room", new { id = Model.fl_id }, new { @class = "btn btn-dark btn-rounded btn-fw" })
                        @Html.ActionLink("Back", "FloorList", null, new { @class = "btn btn-light btn-rounded btn-fw" })
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>
</html>
