
@model XyTech.Models.tb_floor

@{
    ViewBag.Title = "Details_GE3";
}

<style>
    .copy-text {
        padding: 10px;
        font-size: 18px;
        color: #555;
        border: none;
        outline: none;
    }

        .copy-text button {
            padding: 10px;
            background: #5784f5;
            color: #fff;
            font-size: 18px;
            border: none;
            outline: none;
            border-radius: 10px;
            cursor: pointer;
        }
</style>

<p class="card-title mb-0" style="font-size: x-large; font-weight:bold">Floor Information</p>
<br />
<div>
    <img class="floorlayout" src="~/Content/assets/images/floor_layout_trim/GE3-2.jpeg" alt="DL1" usemap="#DL1map">

    <map name="DL1map">
        <area shape="rect" coords="46,31,114,130" alt="Room1" href="@Url.Action("Details", "Room", new { id = 57 })" id="r_id">
        <area shape="rect" coords="44,135,114,207" alt="Room2" href="@Url.Action("Details", "Room", new { id = 58 })" id="r_id">
        <area shape="rect" coords="46,215,144,267" alt="Room3" href="@Url.Action("Details", "Room", new { id = 59 })" id="r_id">
        <area shape="rect" coords="44,277,142,329" alt="Room4" href="@Url.Action("Details", "Room", new { id = 60 })" id="r_id">
        <area shape="rect" coords="43,335,130,399" alt="Room5" href="@Url.Action("Details", "Room", new { id = 61 })" id="r_id">
        <area shape="rect" coords="44,403,130,463" alt="Room6" href="@Url.Action("Details", "Room", new { id = 62 })" id="r_id">
        <area shape="rect" coords="44,465,131,525" alt="Room7" href="@Url.Action("Details", "Room", new { id = 63 })" id="r_id">
        <area shape="poly" coords="44,528,106,529,124,549,95,554,96,641,42,640,42,563" alt="Room8" href="@Url.Action("Details", "Room", new { id = 64 })" id="r_id">
        <area shape="poly" coords="100,559,129,558,151,582,152,640,100,641,101,595" alt="Room9" href="@Url.Action("Details", "Room", new { id = 65 })" id="r_id">
        <area shape="poly" coords="184,462,161,485,159,508,248,508,248,461" alt="Room10" href="@Url.Action("Details", "Room", new { id = 66 })" id="r_id">
        <area shape="rect" coords="159,406,248,457" alt="Room11" href="@Url.Action("Details", "Room", new { id = 67 })" id="r_id">
        <area shape="rect" coords="148,127,248,208" alt="Room12" href="@Url.Action("Details", "Room", new { id = 68 })" id="r_id">
        <area shape="rect" coords="144,31,208,122" alt="Room13" href="@Url.Action("Details", "Room", new { id = 69 })" id="r_id">
    </map>
</div>

<div class="row">
    <div class="col-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Floor Information</h4>
                <p class="card-description">
                    These are the information for the floor.
                </p>


                @Html.Hidden("fl_id")

                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-4 col-form-label">Floor Name</label>
                    <div class="col-sm-7 col-form-label">
                        @Html.DisplayFor(model => model.fl_bname)
                    </div>
                </div>

                <div class="form-group row">
                    <label for="exampleInputMobile" class="col-sm-4 col-form-label">Address</label>
                    <div class="col-sm-7 col-form-label">
                        @Html.DisplayFor(model => model.fl_address)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputPassword2" class="col-sm-4 col-form-label">Landlord Name</label>
                    <div class="col-sm-7 col-form-label">
                        @Html.DisplayFor(model => model.tb_landlord.l_name)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">WiFi Password</label>
                    <div class="col-sm-7 col-form-label">
                        @Html.DisplayFor(model => model.fl_wifipwd)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">Modem IP</label>
                    <div class="col-sm-7 col-form-label">
                        @Html.DisplayFor(model => model.fl_modemip)
                    </div>
                </div>

                <div style="margin-top: 25px;">
                    @Html.ActionLink("Edit", "Edit", new { id = Model.fl_id }, new { @class = "btn btn-primary btn-rounded btn-fw" })
                    @Html.ActionLink("See Rooms", "Index", "Room", new { floorFilter = Model.fl_id }, new { @class = "btn btn-dark btn-rounded btn-fw" })
                    @Html.ActionLink("Back to Floor List", "FloorList", null, new { @class = "btn btn-light btn-rounded btn-fw" })
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Preset Message for Tenants</h4>
                <div class="form-group row">
                    <label class="col-sm-9 col-form-label">Potential</label>
                    @using (Html.BeginForm())
                    {
                        @Html.Hidden("fl_preset_potential", Model.fl_preset_potential)
                        <button type="button" onclick="copyToClipboard()" class="copy-text mdi mdi-content-copy">Copy</button>
                    }

                    <div class="col-sm-12 col-form-label">
                        <div class="copy-text">
                            @Html.TextAreaFor(model => model.fl_preset_potential, new { @class = "form-control", id = "copy", @readonly = "readonly", rows = 4 })
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-9 col-form-label">Current</label>
                    @using (Html.BeginForm())
                    {
                        @Html.Hidden("fl_preset_current", Model.fl_preset_current)
                        <button type="button" onclick="copyToClipboard1()" class="copy-text mdi mdi-content-copy">Copy</button>
                    }
                    <div class="col-sm-12 col-form-label">
                        <div class="copy-text">
                            @Html.TextAreaFor(model => model.fl_preset_current, new { @class = "form-control", id = "copy", @readonly = "readonly", rows = 4 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">Room Availability</h4>
                    <button class="copy-text mdi mdi-content-copy" onclick="copyTableToClipboard3()">Copy</button>
                </div>
                <br />
                <div class="table-responsive">
                    <table id="dataTable" class="display expandable-table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Room No.</th>
                                <th style="text-align: center">Room Availability</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.room)
                            {
                                <tr>
                                    <td>
                                        @item.r_no
                                    </td>
                                    <td style="text-align:center">
                                        @if (item.r_availability == 1)
                                        {
                                            <div class="badge badge-success">
                                                Available
                                            </div>
                                        }
                                        else if (item.r_availability == 0)
                                        {
                                            <div class="badge badge-danger">
                                                Unavailable
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function copyToClipboard() {
        var input = document.createElement("input");
        input.setAttribute("value", document.getElementById("fl_preset_potential").value);
        document.body.appendChild(input);
        input.select();
        document.execCommand("copy");
        document.body.removeChild(input);
        alert("Copied to clipboard!");
    }

    function copyToClipboard1() {
        var input = document.createElement("input");
        input.setAttribute("value", document.getElementById("fl_preset_current").value);
        document.body.appendChild(input);
        input.select();
        document.execCommand("copy");
        document.body.removeChild(input);
        alert("Copied to clipboard!");
    }

    function copyTableToClipboard3() {
        const table = document.getElementById("dataTable");
        const range = document.createRange();
        range.selectNode(table);
        window.getSelection().addRange(range);

        try {
            const successful = document.execCommand('copy');
            const message = successful ? 'Table copied to clipboard!' : 'Unable to copy table.';
            alert(message);
        } catch (err) {
            console.log('Unable to copy table:', err);
        }

        window.getSelection().removeAllRanges();
    }
</script>
