
@model IEnumerable<XyTech.Models.tb_floor>

@{
    ViewBag.Title = "Details_TN4";
}

<!DOCTYPE html>
<html>
<body>
    <p class="card-title mb-0" style="font-size: x-large; font-weight:bold">Floor Information</p>
    <br />
    <div> 
        <img class="floorlayout" src="~/Content/assets/images/floor_layout_trim/TN4-3.jpeg" alt="DL1" usemap="#DL1map">

        <map name="DL1map">
            <area shape="poly" coords="203,43,256,45,257,102,177,100,176,65,194,59" alt="Room1" href="@Url.Action("Details", "Room", new { id = 107 })" id="r_id">
            <area shape="rect" coords="172,107,255,169" alt="Room2" href="@Url.Action("Details", "Room", new { id = 108 })" id="r_id">
            <area shape="rect" coords="172,172,252,230" alt="Room3" href="@Url.Action("Details", "Room", new { id = 109 })" id="r_id">
            <area shape="rect" coords="176,234,251,295" alt="Room4" href="@Url.Action("Details", "Room", new { id = 110 })" id="r_id">
            <area shape="rect" coords="176,301,253,387" alt="Room5" href="@Url.Action("Details", "Room", new { id = 111 })" id="r_id">
            <area shape="rect" coords="254,497,175,392" alt="Room6" href="@Url.Action("Details", "Room", new { id = 112 })" id="r_id">
            <area shape="poly" coords="200,506,253,503,253,607,174,609,176,530" alt="Room7" href="@Url.Action("Details", "Room", new { id = 113 })" id="r_id">
            <area shape="poly" coords="64,489,138,488,140,556,126,566,117,582,66,580" alt="Room7" href="@Url.Action("Details", "Room", new { id = 114 })" id="r_id">
            <area shape="rect" coords="66,423,141,483" alt="Room7" href="@Url.Action("Details", "Room", new { id = 115 })" id="r_id">
            <area shape="poly" coords="66,188,116,189,125,206,142,214,141,246,64,248" alt="Room7" href="@Url.Action("Details", "Room", new { id = 116 })" id="r_id">
            <area shape="poly" coords="142,183,65,179,65,109,102,107,110,65,116,53,140,55" alt="Room7" href="@Url.Action("Details", "Room", new { id = 117 })" id="r_id">
        </map>
    </div>

    @foreach (var item in Model)
    {
        <div class="col-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form class="forms-sample">
                        <div class="form-group row">
                            <label for="exampleInputUsername2" class="col-sm-4 col-form-label">Building Name</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(modelItem => item.fl_bname)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-4 col-form-label">Floor Level</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(modelItem => item.fl_bid)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputMobile" class="col-sm-4 col-form-label">Address</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(modelItem => item.fl_address)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputPassword2" class="col-sm-4 col-form-label">Landlord Name</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(modelItem => item.fl_landlord)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">WiFi Password</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(modelItem => item.fl_wifipwd)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">Modem IP</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(modelItem => item.fl_modemip)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">CCTV QR Code</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(modelItem => item.fl_cctvqr)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-auto">
                                @Html.ActionLink("Edit", "FloorList", null, new { @class = "btn btn-primary btn-rounded btn-fw" })
                            </div>
                            <div class="col-auto">
                                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-light btn-rounded btn-fw" })
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    }
</body>
</html>
