@model XyTech.Models.tb_floor

@{
    ViewBag.Title = "Details_DL1";
}

<!DOCTYPE html>
<html>
<body>

    @Html.Hidden("SearchString", "DL1")
    <img class="floorlayout" src="~/Content/assets/images/floor_layout_trim/DL1-1.jpeg" alt="DL1" usemap="#DL1map">

    <map name="DL1map">
        <area shape="rect" coords="43,29,121,87" alt="Room1" href="~/Views/Room/Details/1" id="r_id">
        <area shape="rect" coords="45,91,117,151" alt="Room2" href="~/Views/Room/Details/2" id="r_id">
        <area shape="rect" coords="45,156,117,208" alt="Room3" href="~/Views/Room/Details/3" id="r_id">
        <area shape="rect" coords="45,218,116,272" alt="Room4" href="~/Views/Room/Details/4" id="r_id">
        <area shape="rect" coords="44,278,115,334" alt="Room5" href="~/Views/Room/Details/5" id="r_id">
        <area shape="rect" coords="46,341,117,396" alt="Room6" href="~/Views/Room/Details/6" id="r_id">
        <area shape="rect" coords="44,404,118,456" alt="Room7" href="~/Views/Room/Details/7" id="r_id">
        <area shape="rect" coords="47,469,116,520" alt="Room8" href="~/Views/Room/Details/8" id="r_id">
        <area shape="rect" coords="45,528,115,580" alt="Room9" href="~/Views/Room/Details/9" id="r_id">
        <area shape="rect" coords="44,590,117,644" alt="Room10" href="~/Views/Room/Details/10" id="r_id">
        <area shape="rect" coords="147,514,220,568" alt="Room11" href="~/Views/Room/Details/11" id="r_id">
        <area shape="rect" coords="149,428,222,504" alt="Room12" href="~/Views/Room/Details/12" id="r_id">
        <area shape="rect" coords="149,129,222,210" alt="Room13" href="~/Views/Room/Details/13" id="r_id">
        <area shape="rect" coords="147,29,222,122" alt="Room14" href="~/Views/Room/Details/14" id="r_id">
    </map>

</body>
</html>














<!--
<h2>Details</h2>

<div>
    <h4>tb_floor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fl_bid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_bid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fl_wifipwd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_wifipwd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fl_modemip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_modemip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fl_cctvqr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_cctvqr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fl_layout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fl_layout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tb_landlord.l_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tb_landlord.l_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fl_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    -->
