@model XyTech.Models.tb_floor

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html>
<body>
    <div>
        <div class="floorlayout" width="300" height="800">
            <img src="@Url.Content("~/Content/assets/images/floorlayout/" + Model.fl_layout)" alt="Uploaded Image" />
            @Html.DisplayFor(model => model.fl_layout)
        </div>
    </div>

        <div class="col-8 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Floor Information</h4>
                    <p class="card-description">
                        These are the information for the floor.
                    </p>
                    <form class="forms-sample">

                        @Html.Hidden("fl_id")

                        <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-4 col-form-label">Building Name</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(model => model.fl_bname)
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="exampleInputEmail2" class="col-sm-4 col-form-label">Floor Level</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(model => model.fl_bid)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputMobile" class="col-sm-4 col-form-label">Address</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(model => model.fl_address)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputPassword2" class="col-sm-4 col-form-label">Landlord Name</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(model => model.fl_landlord)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">WiFi Password</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(model => model.fl_wifipwd)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">Modem IP</label>
                            <div class="col-sm-7 col-form-label">
                                @Html.DisplayFor(model => model.fl_modemip)
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="exampleInputConfirmPassword2" class="col-sm-4 col-form-label">CCTV QR Code</label>
                            <div class="col-sm-7 col-form-label">
                                <img src="@Url.Content("~/Content/assets/images/cctvqr/" + Model.fl_cctvqr)" alt="Uploaded Image" style="width: 400px; height: auto;" />
                                @Html.DisplayFor(model => model.fl_cctvqr)
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-auto">
                                @Html.ActionLink("Edit", "Edit", new { id = Model.fl_id }, new { @class = "btn btn-primary btn-rounded btn-fw" })
                            </div>
                            <div class="col-auto">
                                @Html.ActionLink("Back", "FloorList", null, new { @class = "btn btn-light btn-rounded btn-fw" })
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>